@using QueteDuDragon.Data
@inject NavigationManager Navigation
@inject EtatJeu EtatJeu
@page "/choix-boss"

<h3>Vous avez collecté 4 objets !</h3>
<p>Souhaitez-vous aller au magasin pour acheter des outils , affronter directement le bossFinal</p>

<button @onclick="AllerAuMagasin">Aller au Magasin</button>
<button @onclick="AffronterBossfinal">Combattre le BossFiNAL</button>

@code {

    private void AllerAuMagasin()
    {
        Navigation.NavigateTo("/marchand");
    }

    private void AffronterBossfinal()
    {
        try
        {

            EtatJeu.StartCombat();
            Navigation.NavigateTo("/combat");
        }
    
    catch (Exception )
    {
        Console.WriteLine(@"Erreur pendant le demarrage du combat: {ex.
        Message}");
    }

}
}