@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Choisis ton heros </h1>
<li>Guerrier</li>
<li>Voleur</li>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}