@page "/donjonboss"

<div class="dungeon">
</div>

<style>
    .dungeon {
        width: 100%;
        height: 100vh;
        background-image: url('Images/Fondboss.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
}