@page "/exploration"
@using QueteDuDragon.Data
@inject EtatJeu EtatJeu

@code{

    private static readonly string[] AvailableItems =
    {
        "Or", "Epee", "Armes à feu",
        "flèches", "haches", "arcs"
    };

    private void Explore()
    {
        if (EtatJeu.SelectedHero != null)
        {
            var random = new Random();
            var foundItem = AvailableItems[random.Next(AvailableItems.Length)];
            EtatJeu.SelectedHero.AjouterObjet(foundItem); // Appelle la méthode définie dans Hero.cs
            StateHasChanged();
        }
        else
        {
            Console.WriteLine("Aucun héros sélectionné. Impossible d'explorer.");
        }
    }

}

<h3>Exploration</h3>
@if (EtatJeu.SelectedHero == null)
{
    <p>Veuillez choisir un héros d'abord.</p>
    <a href="/Selection-hero">Retour à la selection</a>
}
else
{
    <p>Héroes : @EtatJeu.SelectedHero.Name</p>
    <p>Points de vie : @EtatJeu.SelectedHero.pointsVie</p>
    <p>Compétences : </p>
    <ul>
        @foreach (var skill in EtatJeu.SelectedHero.Skills)
        {
            <li>@skill</li>
        }
    </ul>
}
<p><strong>Objets collectés par ce héros :</strong></p>
@if (EtatJeu.ObjetsCollectes != null && EtatJeu.ObjetsCollectes.Any())
{
    <ul>
        @foreach (var item in EtatJeu.ObjetsCollectes)
        {
            <li>@item</li>
        }
    </ul>
}
else
{
    <p>Aucun objet collecté pour ce héros.</p>
}
<button @onclick="Explore">Explorer</button>