@page "/Index"

    <h1>Bienvenue dans La Quête du Dragon !</h1>
    <p>Choisissez une action :</p>
    <ul>
    <li><a href="/hero-selection">Sélectionner un héros</a></li>
    <li><a href="/exploration">Explorer</a></li>
    <li><a href="/combat">Combattre le BossFinal</a></li>
    </ul>
}