@page "/mode-difficile"
@using QueteDuDragon.Data
@inject NavigationManager Navigation
@inject EtatJeu EtatJeu
<h3>Mode Difficile</h3>
<p>Bienvenue dans le mode difficile !</p>
<br>
Préparez-vous à un combat acharné avec les montres!
<br/>

<button @onclick="AllerAuMagasin">Aller au Magasin</button>

@code{

    private void AllerAuMagasin()
    {
        Navigation.NavigateTo("/marchand",true);
    }
    
    private void Retourner()
    {
        Navigation.NavigateTo("/"); 
    }

}