@page "/mode-facile"
@using QueteDuDragon.Data
@inject NavigationManager Navigation
@inject EtatJeu EtatJeu

<h3>Mode Facile</h3>
<p>Bienvenue dans le mode facile !</p>
<br>
Préparez-vous à affronter le BossFinal et collecter des objets
<br/>

<button @onclick="AllerAuMagasin">Aller au Magsin </button>

@code{

    private void AllerAuMagasin()
    {
        Navigation.NavigateTo("/marchand");
    }
    
 

}