@inject EtatJeu EtatJeu
@inject NavigationManager NavigationManager
@using QueteDuDragon.Data.Heroes;
@using QueteDuDragon.Data;
@page "/Selection-hero"

<h3>Choissisez votre héros et le mode de jeu :</h3>

<form @onsubmit="HandleFormSubmit">
    <label for="hero-name">Nom du héros:</label>
    <input type="text" id="hero-name" @bind="HeroName" placeholder="Entrez votre nom" required/>

    <label for="hero-choice">Choix du héros :</label>
    <select id="hero-choice" @bind="HeroType">
        <option value="Warrior">Guerrier</option>
        <option value="Mage">Mage</option>
        <option value="Thief">Voleur</option>
    </select>

    <label for="mode">Mode :</label>
    <select id="mode" @bind="GameMode" >
        <option value="Facile">Facile</option>
        <option value="Difficile">Difficile</option>
    </select>

    <button type="submit">Commencer l'aventure</button>
</form>

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <p style="color:red;">@ErrorMessage</p>
}

@code {

    private string HeroName { get; set; } = "";
    private string HeroType { get; set; } = "Warrior"; // Valeur par défaut
    private string GameMode { get; set; } = "Facile"; // Valeur par défaut
    private string? ErrorMessage { get; set; }
    
    private void HandleFormSubmit()
    {
        // Création du héros basé sur les entrées du formulaire
        Hero selectedHero = HeroType switch
        {
            "Warrior" => new Warrior { Name = HeroName },
            "Mage" => new Mage { Name = HeroName },
            "Thief" => new Thief { Name = HeroName },
            _ => throw new InvalidOperationException("Type de héros invalide.")
        };
        
        //mettre a jour l'etat du jeu
        EtatJeu.SelectedHero = selectedHero;
        EtatJeu.SelectedHero.InitializeSkills();
        EtatJeu.SelectedMode = GameMode;
        
        // Forcer la mise à jour de l'interface utilisateur
        StateHasChanged();
        // Redirection
        NavigationManager.NavigateTo(GameMode == "Facile" ? "/mode-facile" : "/mode-difficile");
        // Rediriger selon le mode sélectionné
        
    }

}