@using QueteDuDragon.Data
@using QueteDuDragon.Data.Heroes
@inject EtatJeu EtatJeu
@inject NavigationManager NavigationManager

<h3>Commencer l'aventure </h3>
<button @onclick="CommencerAventure ">Commencer l'aventure</button>
@code {

    private void CommencerAventure()
    {
        if (EtatJeu.SelectedMode == "Facile")
        {
            NavigationManager.NavigateTo("/mode-facile", true );
        }
        else if  (EtatJeu.SelectedMode == "Difficile")
        {
            NavigationManager.NavigateTo("/mode-difficile", true);
        }
        else
        {
            Console.WriteLine("Aucun mode sélectionné !");
        }
    }
}